body {
padding: 8px;
}
body h3 {
font-size: 40px;
background-image: url(https://th.bing.com/th/id/OIP.j2A-Q-2uVhXiu0NoEkuRoAHaE8?pid=ImgDet&rs=1);
background-size: cover;
margin: 0 auto;
}
body h2 {
  font-size: 32px;
  border-bottom: 2px solid blue;
}
body ol {
  font-size: 32px;
}
.section-title {
  color: blue;
}
section {
font-size: 24px;
}
.footer {
  height: 32px;
  background-color: blue;
  color: white;
}
.footer-logo {
float: left;
}
.footer-list li {
  float: right;
  padding-right: 5px;
  list-style: none;
}